* {
  box-sizing: border-box;
  margin: 0;
}
/* More info: https://bit.ly/2PsCnzk */
* + * {
  margin-top: 1rem;
}
html,
body {
  margin: 0;
  color: #555;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 18px;
  line-height: 1.4;
}

/* remove margin for the main div that Gatsby mounts into */
body > div {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 + * {
  margin-top: 0.5rem;
}
strong {
  color: #222;
}
li {
  margin-top: 0.25rem;
}

.subtitle {
  margin-top: 2rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.75rem;
}
